.profile__title-container {
    margin-bottom: 11px;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 425px){
    .profile__title-container {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }
}
