/* .form__button {
 
}

.form__button:hover {
    opacity: 0.8;
}
@media screen and (max-width: 958px) {
    .form__button{
    
    }
}
@media screen and (max-width: 425px){
    .form__button{
       
       }
} */
.form__button {
    width: 358px;
    height: 50.15px;
    background: #000000;
    border-radius: 2px;
    border: none;
    color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left: 36px;
    margin-bottom: 36px;
}

.form__button:hover {
    opacity: 0.8;
}
@media screen and (max-width: 958px) {
    .form__button{
     width: 82%;
    }
}
@media screen and (max-width: 425px){
    .form__button{
        width: 238px;
        margin-left: 22px;
       }
}