.profile__edit {
    background-color: #000;
    border: 1px solid #fff;
    height: 24px;
    width: 24px;
    margin-left: 18px;
    margin-top: 2%;
    padding: 0;
    cursor: pointer;
}
.profile__edit:hover {
    opacity: 0.6;
    height: 24px;
    width: 24px;
}
@media screen and (max-width: 425px){
    .profile__edit {
    height: 18px;
    width: 18px;
    display: flex;
    margin: 0 15px 0 10px;
    padding: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    }
}