.header {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 36px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 100%;
        border-bottom: 1px solid #545454;
        margin: 0 auto;
        padding: 28px 0 32px 0;
    }
}
 
