.header {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 100%;
        min-height: 83px;
        padding: 0;
    }
}
 
