.profile__add {
    background-color: #000;
    border: 1px solid #fff;
    width: 150px;
    height: 50px;
    padding: 0;
    cursor: pointer;
}
.profile__add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 425px){
    .profile__add {
        width: 88.13%;
        height: 50px;
        padding: 0;
    }
}