/* .form__input {
 width: 358px;
 border: 0;
 font-size: 14px;
 font-weight: 400;
 font-family: "Inter", Arial, Helvetica, sans-serif;
 box-sizing: border-box;
 border-bottom: 1px solid #bcbcc4;
 background-color: transparent;
 width: 358px;
 height: 24px;
}
@media screen and (max-width: 958px) {
    .form__input{
   
    }
}
@media screen and (max-width: 425px){
    .form__input{
        ;
       }
} */
.form__input {
    border: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-bottom: 1px solid #bcbcc4;
    background-color: transparent;
    width: 358px;
    height: 24px;
    margin-left: 36px;
    padding-bottom: 13.26px;
}
@media screen and (max-width: 958px) {
    .form__input{
     width: 82%;
    }
}
@media screen and (max-width: 425px){
    .form__input{
        width: 238px;
        margin-left: 22px;
       }
}