
.profile__info{
    margin: 0 18.75% 0 3.409%;
}
@media screen and (max-width: 1150px){
    .profile__info {
        margin: 0 100px 0 20px;
    }
}
@media screen and (max-width: 958px) {

    .profile__info {
        text-align: center;
        margin: 30px 0 32px 0;
    }
}
@media screen and (max-width: 425px){
    .profile__info {
        max-width: 282px;
        min-height: 50px;
    }
}