.grid__delete-icon{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 18px;
    height: 19.3px;
    width: 18px;
    padding: 0;
    background-image: url(../../../images/delete.svg);
    background-color: transparent;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
}

.grid__delete-icon:hover {
    opacity: 0.5;
}